/* ------------------------- Fonts ------------------------- */
@font-face {
    font-family: 'Abla Sans';
    src: url('/fonts/EuclidFlex-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: auto;
  }
  
  @font-face {
    font-family: 'Abla Sans';
    src: url('/fonts/EuclidFlex-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: auto;
  }

  @font-face {
    font-family: 'Abla Sans';
    src: url('/fonts/EuclidFlex-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: auto;
  }

  @font-face {
    font-family: 'Abla Sans';
    src: url('/fonts/EuclidFlex-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: auto;
  }

  @font-face {
    font-family: 'Abla Sans';
    src: url('/fonts/EuclidFlex-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: auto;
  }
