@tailwind base;
@tailwind components;
@tailwind utilities;

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(197, 8%, 66%);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: hsl(197, 8%, 54%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(197, 8%, 44%);
}
